@import '@angular/material/prebuilt-themes/azure-blue.css';

/* 

 .mat-elevation-z8{

  background-color: black; 
} 
.col{
    color: #da0909;
   padding-left: 100px;
}
.col1{
    color: rgb(250, 250, 252);
    padding-left: 100px;  
}
ng-container{
    padding: 20px;
}
h1{
    color: #000;
    display: flex;
    justify-content: center;
    font-style: italic;
    padding: 10px;
}
 


 */